# Ignore node_modules directory
node_modules

# Ignore any files or directories starting with a dot
.*

# Ignore development and build-related files
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
tmp/

# Ignore source control directories
.git
.svn
